# ibl.ai Platform Configuration
NEXT_PUBLIC_API_BASE_URL=https://api.iblai.app
NEXT_PUBLIC_AUTH_URL=https://login.iblai.app
NEXT_PUBLIC_BASE_WS_URL=wss://asgi.data.iblai.app
NEXT_PUBLIC_PLATFORM_BASE_DOMAIN=iblai.app

# App Configuration
NEXT_PUBLIC_MAIN_TENANT_KEY=iblai
NEXT_PUBLIC_IBL_PLATFORM=agent
NEXT_PUBLIC_AGENT_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_AGENT_ID=00000000-0000-0000-0000-000000000000

# Support
NEXT_PUBLIC_SUPPORT_EMAIL=support@ibl.ai