"use client";

import { configureStore } from "@reduxjs/toolkit";
import {
  coreApiSlice,
  mentorReducer,
  mentorMiddleware,
} from "@iblai/iblai-js/data-layer";
import {
  chatSliceReducerShared,
  filesReducer,
} from "@iblai/iblai-js/web-utils";

export const makeStore = () => {
  return configureStore({
    reducer: {
      chatSliceShared: chatSliceReducerShared,
      files: filesReducer,
      [coreApiSlice.reducerPath]: coreApiSlice.reducer,
      ...mentorReducer,
    },
    middleware: (getDefaultMiddleware) =>
      getDefaultMiddleware().concat(
        coreApiSlice.middleware,
        ...mentorMiddleware
      ),
  });
};

// Infer the type of makeStore
export type AppStore = ReturnType<typeof makeStore>;
// Infer the `RootState` and `AppDispatch` types from the store itself
export type RootState = ReturnType<AppStore["getState"]>;
export type AppDispatch = AppStore["dispatch"];
