import { useCallback, useState } from 'react';

type CopyFn = (text: string) => Promise<void>;

type CopyStatus = 'idle' | 'success' | 'error';

type UseCopyToClipboardReturn = {
  copy: CopyFn;
  status: CopyStatus;
};

export function useCopyToClipboard(
  timeout: number = 500,
): UseCopyToClipboardReturn {
  const [status, setStatus] = useState<CopyStatus>('idle');

  const copy: CopyFn = useCallback(
    async (text) => {
      if (!navigator?.clipboard) {
        console.warn('Clipboard not supported');
        return;
      }

      try {
        await navigator.clipboard.writeText(text);
        setStatus('success');
        setTimeout(() => setStatus('idle'), timeout);
      } catch (error) {
        console.error('Failed to copy:', error);
        setStatus('error');
      }
    },
    [timeout],
  );

  return { copy, status };
}
