"use client";

import { ReactNode } from "react";
import { StoreProvider } from "@/providers/store-provider";
import { Providers } from "@/providers";

export function AppShell({ children }: { children: ReactNode }) {
  return (
    <StoreProvider>
      <Providers>{children}</Providers>
    </StoreProvider>
  );
}
